[Unit]
Description=It run mainApp as a service.
#Before=
#After=

[Service]
ExecStart=/usr/local/bin/mainApp -o67 -i68 --log
Type=forking

[Install]
WantedBy=default.target
